body, html{
     height: 100%; 
    margin: 0;
}

.bg {
 
    background: url("img07.jpg"); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

  }

  #iron{
    width: 40%;
    padding: 20%;
    transition: transform .2s;
    /* animation: wiggle 1s ease;
    animation-iteration-count: 1;      */
    
}

#dc {
  width: 40%;
  padding: 20%;
  transition: transform .2s;
  /* animation: wiggle 1s ease;
    animation-iteration-count: 1; */
  
}

#manga{
  width: 40%;
  padding: 20%;
  transition: transform .2s;
  /* animation: wiggle 1s ease;
    animation-iteration-count: 1; */
}


  #manga :hover{
    animation: wiggle 1s ease;
    animation-iteration-count: 1; 
  }

  #manga:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  #dc:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  #iron:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }